.input {
  width: 2.875rem;
  height: 2.875rem;

  border-radius: 0.45rem;
  border: 2px solid #6363db;

  background-color: #ebebfc;
  color: #6363db;

  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;

  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.input:hover::placeholder {
  color: transparent;
  transition: color 0.3s;
}
